html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

/* main page */

.page-title {
    text-align: center;
}

.list-posts-title {
  padding: 10px 0;
  background: #7c2e79;
  text-align: center;
}
.list-posts-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-posts-content {
  padding: 0 0 20px;
  flex: 1;
}

.list-post-date {
  float: left;
}

.list-post-votes {
  float: right;
}

.add-post {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.add-post a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #7c2e79;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}
.post-view-cancel {
  float: right
}

/* categories grid */
.list-categories-content {
  margin: 10px 15px
}

.categories-grid {
  list-style-type: none;
  padding: 0;
  margin: 10px 15px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: inline;
}
.categories-grid li {
  padding: 10px 15px;
  text-align: left;
  display: inline;
}

/* posts grid */

.posts-grid {
  list-style-type: none;
  padding: 0;
  margin: 10px 15px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: block;
}

.posts-grid li {
  padding: 10px 15px;
  text-align: left;
  display: block;
  border-style: solid;
  border-width: 1px;
}

/* forms */

.posts-form {
  margin: 10px 15px
}